<div class="card">
  <div class="card-date"><span>Имя пользователя:</span> {{ user.username }}</div>
  <div class="card-date"><span>Место работы:</span> {{ user.company.name}} </div>
  <div class="card-date"><span>Сайт:</span> {{ user.website }}</div>
  <div class="card-date"><span>Телефон:</span> {{ user.phone }}</div>


  <button
    mat-fab
    aria-label="Example icon button with a delete icon"
    class="deleteButton"
    (click)="deleteUser()">
    <mat-icon>delete</mat-icon>
  </button>

  <button
    mat-flat-button
    mat-button
    (click)="openDialog()"
    class="button"
  >
    Изменить
  </button>
</div>

